<div class="navbar-tim">
  <div class="navbar-logo-container centered-vertically">
    <%= image_tag "white_foot.png", alt: "alttext" %>
  </div>
</div>


<div class="container centered-vertically">
  <div class="icon-edit-profile centered-vertically">
    <% if current_user.photo.attached? %>
      <div class="current-profile-pic">
        <%= cl_image_tag current_user.photo.key, class: "avatar-like" %>
      </div>
    <% else %>
      <div class="current-profile-pic">
        <%= image_tag 'balt.png', class: "avatar-like" %>
      </div>
    <% end %>
    <a id="edit-user-pic-button" class="btn-floating pulse"><i class="material-icons">add_a_photo</i></a>
    <a id="valid-user-pic" class="btn-floating"><i class="material-icons">done</i></a>
  </div>

  <p class="blue-title">EDIT MY PROFILE</p>


  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email, required: true, autofocus: true %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>

      <%= f.input :password,
                  hint: "leave it blank if you don't want to change it",
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :current_password,
                  hint: "we need your current password to confirm your changes",
                  required: true,
                  input_html: { autocomplete: "current-password" } %>

      <%= f.input :photo, as: :file, label: false, input_html: {accept: "image/*"} %>
    </div>

    <div class="form-actions centered-vertically">
      <%= f.button :submit, "Update",class: "button-orange" %>
    </div>
  <% end %>

  <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

  <%= link_to "Back", :back %>

</div>
