<!-- NEW ACCOUNT -->

<div class="navbar-tim">
  <div class="navbar-logo-container centered-vertically">
    <%= image_tag "white_foot.png", alt: "alttext" %>
  </div>
</div>

<div class="container centered-vertically">
  <div class="icon-sign-up centered-vertically">
    <i id ="new-user-placeholder" class="material-icons">person_outline</i>
    <a id="new-user-pic-button" class="btn-floating pulse"><i class="material-icons">add_a_photo</i></a>
    <a id="valid-user-pic" class="btn-floating"><i class="material-icons">done</i></a>
  </div>

  <p class="blue-title">CREATE A NEW ACCOUNT</p>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :username,
      required: true,
      autofocus: true %>
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" }%>
      <%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password" } %>


      <%= f.input :photo, as: :file, label: false %>
    </div>

    <div class="form-actions centered-vertically">
      <%= f.button :submit, "CREATE", class: "button-orange" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>




