<div class="navbar-tim">
  <div class="navbar-logo-container centered-vertically">
    <%= image_tag "white_foot.png", alt: "alttext" %>
  </div>
</div>


<div class="container centered-vertically">


  <% if @pets.length == 0 %>

    <div id="intro-container" class="general-container centered-vertically">
      <p class="blue-title">Welcome <%= current_user.username %>!</p>
      <div class="arrow-container">
        <i class="fas fa-chevron-down" id="arrow-down-1"></i>
        <i class="fas fa-chevron-down" id="arrow-down-2"></i>
        <i class="fas fa-chevron-down" id="arrow-down-3"></i>
      </div>
    </div>

  <% else %>


  <div class="pet-cards centered-vertically">
    <p class="blue-title">Hello <%= current_user.username %>!</p>
    <% @pets.each do |pet| %>
      <div class="pet-card">

        <% if pet.photo.attached? %>
          <%= cl_image_tag pet.photo.key %>
        <% else %>
          <%= image_tag @img_placeholder %>
        <% end %>

        <%= link_to pet_emotions_path(pet), class: "pet-image" do %>
          <div class="pet-card-name-container">
            <span><%= pet.name.upcase %></span>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

<% end %>

</div>

<%= render 'shared/sidenav' %>

<div id="action-button" class="action-button btn-floating btn-large waves-effect waves-light cyan lighten-2">
  <i class="material-icons" style="display: none">chevron_left</i>
  <%= image_tag 'white_foot.png' %>
</div>

<div class="bottom-action-bar">
  <i id="options-menu" class="material-icons">dehaze</i>
  <%= link_to new_pet_path do  %>
    <i class="material-icons" style="color: white">add</i>
  <% end %>
</div>

<div id="video-confirmation" class="modal-video">
  <div class="modal-video-content centered-vertically">
    <div id="upload-progress" class="progress">
      <div class="indeterminate"></div>
    </div>
    <div id ="cancel-upload" class="button-blue">CANCEL UPLOAD</div>
    <%= simple_form_for(@video) do |f| %>
      <%= f.input :clip,as: :file, input_html: {id: 'file-upload'} %>
      <%= f.button :submit, "Upload Video", class: "button-orange", id: "upload-button" %>
    <% end %>
  </div>
</div>







<!-- <div class="container">
  <h1>Your Dashboard</h1>
  <%#= link_to "Add a pet", new_pet_path  %>
  <div class="cards">
    <%# @pets.each do |pet| %>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="<%= @img_placeholder %>" alt="Card image cap">
        <div class="card-body">
          <p class= "card-text"><%#= pet.name %></p>
          <p class= "card-text"><%#= pet.pet_type %></p>
          <p class= "card-text"><%#= pet.gender %></p>
          <p class= "card-text"><%#= pet.breed %></p>
          <p class= "card-text"><%#= pet.birth_date %></p>
          <%#= link_to "Détails", pet_path(pet)  %>

        </div>
      </div>
    <%# end %>
  </div>
</div>
 -->

