<div class="navbar-tim">
  <div class="navbar-logo-container centered-vertically">
    <%= image_tag "white_foot.png", alt: "alttext" %>
  </div>
</div>

<div id="scale-me" class="container centered-vertically scale-transition scale-out">
  <div class="icon-new-pet centered-vertically">
    <i id ="new-pet-photo" class="material-icons">pets</i>
    <a id="new-pet-photo-button" class="btn-floating pulse"><i class="material-icons">add_a_photo</i></a>
    <a id="valid-pet-photo" class="btn-floating"><i class="material-icons">done</i></a>
  </div>
  <p class="blue-title">REGISTER A NEW PET</p>

  <%= simple_form_for @pet do |f| %>
    <%= f.input :name %>
    <%= f.input :pet_type, collection: ["Cat", "Dog"], selected: "Cat" %>
    <%= f.input :gender, collection: ['Female', 'Male'], selected: "Female" %>
    <%#= f.input :birth_date, as: :date, start_year: Date.today.year,
                              end_year: Date.today.year - 100, discard_day: false,
                              order: [:day, :month, :year] %>

    <%= f.input :birth_date, input_html: {class: "datepicker"} %>
    <%= f.input :breed %>

    <%= f.input :photo, as: :file, label: false %>
    <div class="centered-vertically">
      <%= f.button :submit, "REGISTER", class: "button-orange" %>
    </div>
  <% end %>



<!--
  <form action="/pets" accept-charset="UTF-8" method="post">
    <%#= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <label for="pet_name">Name</label>
    <input type="text" name="pet[name]">

    <div class="input-field">
      <select name="pet[pet_type]">
        <option value="" disabled selected>Choose your option</option>
        <option value="Cat">Cat</option>
        <option value="Dog">Dog</option>
      </select>
      <label>Materialize Select</label>
    </div>

    <label for="pet_birth_date">Pet Birthday</label>
    <input type="text" class="datepicker" name="pet[birth_date]">

    <div class="input-field">
      <select name="pet[gender]">
        <option value="" disabled selected>Choose your option</option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
      </select>
      <label>Gender</label>
    </div>


    <input class="form-control-file is-valid file optional" type="file" name="pet[photo]" id="pet_photo">
    <input type="submit" name="commit" value="Add Pet" data-disable-with="Create Restaurant">
  </form> -->


</div>


