<div class="navbar-tim">
  <div class="navbar-logo-container centered-vertically">
    <%= image_tag "white_foot.png", alt: "alttext" %>
  </div>
</div>

<div id="scale-me" class="container centered-vertically scale-transition scale-out">
  <div class="icon-new-pet centered-vertically">
    <i id ="new-pet-photo" class="material-icons">pets</i>
    <a id="new-pet-photo-button" class="btn-floating pulse"><i class="material-icons">add_a_photo</i></a>
    <a id="valid-pet-photo" class="btn-floating"><i class="material-icons">done</i></a>
  </div>
  <p class="blue-title">REGISTER A NEW PET</p>

  <%= simple_form_for @pet do |f| %>
    <%= f.input :name %>
    <%= f.input :pet_type, collection: ["Cat", "Dog"], selected: "Cat" %>
    <%= f.input :gender, collection: ['Female', 'Male'], selected: "Female" %>
    <%#= f.input :birth_date, as: :date, start_year: Date.today.year,
                              end_year: Date.today.year - 100, discard_day: false,
                              order: [:day, :month, :year] %>

    <%= f.input :birth_date, input_html: {class: "datepicker"} %>
    <%= f.input :breed %>

    <%= f.input :photo, as: :file, label: false, input_html: {accept: "image/*"} %>

    <div class="centered-vertically">
      <%= f.button :submit, "LET´S GO", class: "button-orange" %>
    </div>
  <% end %>
</div>


