<%= render 'shared/navbar' %>


<div class="container">

  <div class="stat-lines-container centered-vertically">
    <p class="blue-title" style="text-align: center">Want to edit <%= @pet.name %>´s profile?</p>


    <div class="stat-line">
      <%#= link_to pet_emotions_path(@pet), class: "stat-item unclickable" do  %>
      <%= link_to "", id:"edit-pet-pic", class: "stat-item" do  %>
        <i class="material-icons">add_a_photo</i>
        <p>Edit<br>Picture</p>
      <% end %>
      <%#= link_to pet_activity_path(@pet), class: "stat-item unclickable" do  %>
      <%= link_to edit_pet_path(@pet), class: "stat-item " do  %>
        <i class="material-icons">pets</i>
        <p>Edit<br>Main Info</p>
      <% end %>
      <%#= link_to pet_sleep_path(@pet), class: "stat-item unclickable" do  %>
    </div>

    <div class="stat-line">
      <%= link_to pet_edit_personality_path(@pet), class: "stat-item" do  %>
        <i class="material-icons">color_lens</i>
        <p>Edit<br>Personality</p>
      <% end %>
      <%= link_to pet_path(@pet), method: :delete, data: { confirm: "This will delete all data about #{@pet.name}... are you sure?" }, class: "stat-item" do%>
        <i class="material-icons">remove_circle_outline</i>
        <p>Delete<br>Profile</p>
      <% end %>
    </div>
  </div>
</div>

<div id="pet-edit-picture-confirmation" class="modal-video">
  <div class="modal-video-content centered-vertically">
    <div class="picture-overview"></div>
    <%= simple_form_for @pet do |f| %>
      <%= f.input :photo, as: :file, label: false %>
      <div class="centered-vertically">
        <%= f.button :submit, "UPLOAD PIC",id: "confirm-pic-upload", class: "button-orange" %>
      </div>
    <% end %>
  </div>
</div>




<%= render 'shared/sidenav' %>

<div class="bottom-action-bar">
  <i id="options-menu" class="material-icons">dehaze</i>
</div>

<%= render 'shared/video_btn' %>
