<div class="navbar-tim">
  <div class="navbar-text">
    <div class="navbar-title">SUMMARY</div>
    <div class="navbar-pet-name"><%= @pet.name %></div>
  </div>
  <div class="navbar-logo-container centered-vertically">
    <%= image_tag "white_foot.png", alt: "alttext" %>
  </div>
  <div id="show-pet-list-trigger"class="pet-avatar">
    <% if @pet.photo.attached? %>
      <%= cl_image_tag pet.photo.key %>
    <% else %>
      <% if @pet.pet_type == "Cat" %>
        <%= image_tag @cat_placeholder %>
      <% else %>
        <%= image_tag @dog_placeholder %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="pet-list-container">
  <ul id='show-pet-list' class='pet-list'>
    <% @pets.each do |pet| %>
      <li class="waves-effect waves-light"><%= link_to pet.name, pet_path(pet)  %></li>
    <% end %>
  </ul>
</div>


<!-- STATS----------------------------- -->

<div class="container">
  <%#= line_chart @stats.pluck(:time, :value), xtitle: "Time", ytitle: "Value" %>
  <%#= scatter_chart @stats.group_by_month(:time).maximum(:value) %>
  <%# data = @stats.map{|s| [s.time, s.value]} %>
  <%#= @stats_by_month %>
  <%#= scatter_chart @stats_by_month %>

  <%#= scatter_chart data, xtitle: "Time", ytitle: "Value" %>

  <div class="stat-card">
    <div class="stat-card-left">
      <div class="stat-card-title">EMOTIONS</div>
    </div>
    <div class="stat-card-right">
      <%= pie_chart @emotions %>
    </div>
  </div>

  <% @activity.each do |e| %>
    <p><%= e %></p>
  <% end %>
</div>


<!-- STATS----------------------------- -->


<%= render 'shared/sidenav' %>

<div id="action-button" class="action-button btn-floating btn-large waves-effect waves-light cyan lighten-2">
  <i class="material-icons" style="display: none">chevron_left</i>
  <%= image_tag 'white_foot.png' %>
</div>

<div class="bottom-action-bar">
  <i id="options-menu" class="material-icons">dehaze</i>
  <%#= link_to new_pet_path do  %>
    <!-- <i class="material-icons" style="color: white">add</i> -->
  <%# end %>
</div>
