<div class="navbar-tim">
  <div class="navbar-text">
    <div class="navbar-title"><%= @title %></div>
    <div class="navbar-pet-name"><%= @pet.name %></div>
  </div>
  <div class="navbar-logo-container centered-vertically">
    <%= image_tag "white_foot.png", alt: "alttext" %>
  </div>
  <div id="show-pet-list-trigger"class="pet-avatar">
    <% if @pet.photo.attached? %>
      <%= cl_image_tag @pet.photo.key, class: "avatar-like"  %>
    <% else %>
      <% if @pet.pet_type == "Cat" %>
        <%= image_tag @cat_placeholder, class: "avatar-like"  %>
      <% else %>
        <%= image_tag @dog_placeholder, class: "avatar-like"  %>
      <% end %>
    <% end %>
  </div>
</div>


<div class="pet-list-container">
  <ul id='show-pet-list' class='pet-list'>
    <% @pets.each do |pet| %>
      <% if @title == "SUMMARY" %>
        <li class="waves-effect waves-light"><%= link_to pet.name, pet_stats_path(pet)  %></li>
      <% elsif @title == "TRANSLATOR" %>
        <li class="waves-effect waves-light"><%= link_to pet.name, pet_videos_path(pet)  %></li>
      <% elsif @title == "ABOUT" %>
        <li class="waves-effect waves-light"><%= link_to pet.name, pet_path(pet)  %></li>
      <% elsif @title == "PERSONALITY" %>
        <li class="waves-effect waves-light"><%= link_to pet.name, pet_personality_path(pet)  %></li>
      <% elsif @title == "EMOTIONS" %>
        <li class="waves-effect waves-light"><%= link_to pet.name, pet_emotions_path(pet)  %></li>
      <% elsif @title == "ACTIVITY" %>
        <li class="waves-effect waves-light"><%= link_to pet.name, pet_activity_path(pet)  %></li>
      <% elsif @title == "SLEEP" %>
        <li class="waves-effect waves-light"><%= link_to pet.name, pet_sleep_path(pet)  %></li>
      <% elsif @title == "SCRATCHING" %>
        <li class="waves-effect waves-light"><%= link_to pet.name, pet_scratching_path(pet)  %></li>
      <% elsif @title == "WEIGHT" %>
        <li class="waves-effect waves-light"><%= link_to pet.name, pet_weight_path(pet)  %></li>
      <% end %>
    <% end %>
  </ul>
</div>
