
<div id="action-button" class="action-button btn-floating btn-large waves-effect waves-light cyan lighten-2">
  <i class="material-icons" style="display: none">chevron_left</i>
  <%= image_tag 'white_foot.png' %>
</div>

<div id="video-confirmation" class="modal-video">
  <div class="modal-video-content centered-vertically">
    <div id="upload-progress">
      <div class="centered-vertically">
        <div class="preloader-wrapper big active">
         <div class="spinner-layer spinner-blue">
           <div class="circle-clipper left">
             <div class="circle"></div>
           </div><div class="gap-patch">
             <div class="circle"></div>
           </div><div class="circle-clipper right">
             <div class="circle"></div>
           </div>
         </div>

         <div class="spinner-layer spinner-red">
           <div class="circle-clipper left">
             <div class="circle"></div>
           </div><div class="gap-patch">
             <div class="circle"></div>
           </div><div class="circle-clipper right">
             <div class="circle"></div>
           </div>
         </div>

         <div class="spinner-layer spinner-yellow">
           <div class="circle-clipper left">
             <div class="circle"></div>
           </div><div class="gap-patch">
             <div class="circle"></div>
           </div><div class="circle-clipper right">
             <div class="circle"></div>
           </div>
         </div>

         <div class="spinner-layer spinner-green">
           <div class="circle-clipper left">
             <div class="circle"></div>
           </div><div class="gap-patch">
             <div class="circle"></div>
           </div><div class="circle-clipper right">
             <div class="circle"></div>
           </div>
         </div>
        </div>
        <p class="blue-title">Your video is uploading!</p>
      </div>
    </div>

    <%= simple_form_for [@pet, @video] do |f| %>
      <% if @pets.length > 1 %>
        <p class="blue-title">Who is on the video?</p>
        <%= f.input :pet_selected, collection: @pets, selected: @pets.first %>
      <% end %>

      <%= f.input :clip,as: :file, input_html: {id: 'file-upload', accept: "video/*"} %>
      <%= f.button :submit, "Upload Video", class: "button-orange", id: "upload-button" %>
      <div id ="cancel-upload" class="button-blue">CANCEL UPLOAD</div>
    <% end %>

  </div>
</div>
