<%= render 'shared/navbar' %>

<div class="container centered-vertically">
  <p class="blue-title"><%= @pet.name %> is of personality <%= @pet_personality %></p>
</div>

<%= render 'shared/sidenav' %>

<div class="bottom-action-bar">
  <i id="options-menu" class="material-icons">dehaze</i>
</div>

<%= render 'shared/video_btn' %>
