<%= render 'shared/navbar' %>

<div class="pet-list-container">
  <ul id='show-pet-list' class='pet-list'>
    <% @pets.each do |pet| %>
      <li class="waves-effect waves-light"><%= link_to pet.name, pet_scratching_path(pet)  %></li>
    <% end %>
  </ul>
</div>

<div class="container">
  <div class="general-container centered-vertically">
    <div id="chart_div" data-chart="scratching"></div>
  </div>

</div>

<%= render 'shared/sidenav' %>
<%= render 'shared/stats_bottom_bar' %>
<%= render 'shared/video_btn' %>



